  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="350"><button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[1]/tbody/tr/td[1]/h1/a" style=""><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/sitetitle.gif" alt="SFC-SFS" width="330" height="52" border="0" /></button></td>
      <td width="443" align="right"><button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[1]/tbody/tr/td[2]" style="">xx xx さん [ xxxxxxxx | 総合x年(xx) ]</button><br />
      <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[1]/tbody/tr/td[2]/a" style="">Login: 20xx-xx-xx xx:xx:xx</button></td>
      <td width="60" align="right"><button data-toggle="modal" data-target="#createComment" data-v="/html/body/table[1]/tbody/tr/td[3]/a" style=""><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/btn_logout.gif" alt="Logout | ログアウト" width="47" height="52" border="0"></button></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
    </tr>
    <tr>
      <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/page_top.gif" width="853" height="15" /></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="33" valign="top"><table width="33" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right"><button data-toggle="modal" data-target="#createComment" data-v="/html/body/div/div[1]/table[3]/tbody/tr/td[1]/table/tbody/tr[1]/td/a" style=""><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_01.gif" alt="Course | 履修授業" width="30" height="100" /></button></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><button data-toggle="modal" data-target="#createComment" data-v="/html/body/div/div[1]/table[3]/tbody/tr/td[1]/table/tbody/tr[3]/td/a" style=""><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_02a.gif" alt="Plan | プラン" width="30" height="100" border="0" /></button></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><button data-toggle="modal" data-target="#createComment" data-v="/html/body/div/div[1]/table[3]/tbody/tr/td[1]/table/tbody/tr[5]/td/a" style=""><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student1_03a.gif" alt="Mentor | メンター" width="30" height="100" border="0" /></button></td>
        </tr>
        <tr>
          <td><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="10" height="10" /></td>
        </tr>
        <tr>
          <td align="right"><button data-toggle="modal" data-target="#createComment" data-v="/html/body/div/div[1]/table[3]/tbody/tr/td[1]/table/tbody/tr[7]/td/a" style=""><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/student_04a.gif" alt="Graduate Project | 卒プロ" width="30" height="100" border="0" /></button></td>
        </tr>
      </table></td>
      <td width="1" bgcolor="#8ba1bd"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="
  1" height="1" /></td>
      <td width="818" valign="top" bgcolor="#FFFFFF"><table width="818" border="0" cellspacing="0
  " cellpadding="0">
        <tr>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="1
  0" /></td>
          <td width="790">
                    <div id="navigation">
                  <div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[1]/a" style="">TOP</button></div><div class="rnavi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[2]/a" style="">MY時間割</button></div><div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[3]/a" style="">選抜エントリー</button></div><div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[4]/a" style="">選抜結果</button></div><div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[5]/a" style="">TA/SA</button></div><div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[6]/a" style="">授業調査</button></div><div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[7]/a" style="">日程</a></div><div class="navi01">
    <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='navigation']/div[8]/a" style="">学事Web</button></div>
                          <div class="clear"></div>
                    </div>
                  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/h3" style="width:100%;text-align: left;"><h3 class="one" style="margin:0">MY時間割</h3></button>
  <!-- ## NOTICE START-->

  | <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/a[1]"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> 講義案内</button> | <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/a[2]"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> 研究会</button> | <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/a[3]"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> 体育システム</button> |
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/a[4]"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> 情報技術系科目クラス登録</button> | <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/a[5]"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_g.gif"> 履修申告</button> |

  <p>
  <!-- ### fix -->

  <ul class="small">
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/ul[1]/li[1]"><li>「MY時間割」「カテゴリ別履修一覧」には履修申告期間中に申告した科目が表示されています。</li></button>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/ul[1]/li[2]"><li>MY時間割には他学部・他研究科・諸研究所設置科目は反映されません。</li></button>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/ul[1]/li[3]"><li>体育２～５はMY時間割に登録しても時間割表示では非表示となります。確認はカテゴリ別履修一覧より行ってください。</li></button>
  </ul>

  <!-- ### pre_open中 -->
  <!--
  《MY時間割（仮）登録について》
  <ul class="small">
  <li> <b>新学期の履修プランの「MY時間割（仮）」登録受付中です。追加・削除は [選抜エントリー]より行って下さい。</b></li>
  <li><font color="red">2014年度より、履修者数制限のある授業は、「MY時間割（仮）」への登録と「選抜エントリー」が必須となりました。</font></li>
  <li>「MY時間割（仮）」は、あなたが前学期中に、[ プラン ] → [ 次学期 ] で追加した授業があらかじめ初期登録されています。</li>
  <li>履修選抜を実施しない授業も、授業担当者からの連絡などを受け取るため、MY時間割（仮）登録を</font>行うことをお勧めします。</li>
  <li>体育２～５はMY時間割に登録しても時間割表示では非表示となります。確認はカテゴリ別履修一覧より行ってください。</li>
  <li>MY時間割（仮）は履修申告ではありません。Web履修申告は、「学事Web」タブより、指定された期間中に必ず行ってください。</li>
  </ul>
  -->

  <!-- open前 -->
  <!--
  <li>MY時間割登録は3月中旬から開始されます。</li>
  -->

  <!-- ### 年間共通 -->
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/text()[7]">《MY時間割に表示されている情報について》</button>
  <ul class="small">
  <li>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/ul[2]/li[1]">教室情報は参考情報です。<span style="text-decoration:underline">最新の変更（1日限りの変更含む）は塾生サイトで確認してください。</span><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> </li></button>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/ul[2]/li[2]"><li>公式の休講・補講情報は<span style="text-decoration:underline">学事Webシステムから確認してください。</span><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> </li></button>

  </ul>

  <!-- ## NOTICE END -->
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/h4" style="width:100%;text-align:left;"><h4 class="one" style="margin:0">MY時間割－2017春学期（確定）</h4></button>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/p[2]" style="text-align:right;width:100%;"><p class="small" align="right">
  | MY時間割 | カテゴリ別履修一覧 <img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/square_r.gif"> | </p></button>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/table" style="text-align:left;width:100%;margin-top:0px;">
  <table width="100%">
  <tr><td colspan="7">
  ※授業名をクリックすると「授業ページ」にアクセスできます。<br />
  ※応援科目：履修科目以外で教員が特別にアクセスを許可した科目。<br />
  ※[G] ：大学院授業<br />
  ※教室情報更新：2017-07-01 19:43
  </td><tr>

  <tr><td colspan="7">
  </td></tr>
  <button data-toggle="modal" data-target="#createComment" data-chref="/html/body/table[3]/tbody/tr/td[3]/table/tbody/tr/td[2]/table/tbody/tr[4]" >
  <tr bgcolor="#cbd7e4"><th></th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th nowrap>その他</th></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">1</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td rowspan="7">卒業プロジェクト１<br>( 武田　圭史 )<br></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">2</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee">ユーザビリティ評価論[&kappa;23]<br>( 小川　克彦 )<br></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee">ブロックチェーン(寄附講座)[&Omega;12]<br>( 斉藤　賢爾 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">3</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee">日本の行政機構[&epsilon;11]<br>( 松井　孝治 )<br></td><td bgcolor="#eeeeee">財務・ビジネスプラン構築技法[&iota;21]<br>( 伊藤　良二 )<br></td><td bgcolor="#eeeeee">アジアの人流・物流ネットワーク基盤整備(寄附講座)[&Omega;21]<br>( 古谷　知之 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">4</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee">ソフトウェアアーキテクチャ[&Omega;21]<br>( 萩野　達也 )<br></td><td bgcolor="#eeeeee">古典と現在[&Omega;12]<br>( 堀　茂樹 )<br></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">5</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee">研究会Ａ[&epsilon;22]<br>( 武田　圭史 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">6</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee">研究会Ａ[&epsilon;22]<br>( 武田　圭史 )<br></td><td bgcolor="#eeeeee"></td></tr>
  <tr valign="top" bgcolor="#eeeeee"><th bgcolor="#cbd7e4">7</th><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td><td bgcolor="#eeeeee"></td></tr>
  </button>
  <tr height="220"></tr>
  </table>

      </td>
          <td width="14"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="14" height="10" /></td>
        </tr>
      </table></td>
      <td width="1" bgcolor="#8ba1bd"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/spacer.gif" alt="" width="1" height="1" /></td>
    </tr>
  </table>
  </button>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><img src="https://vu.sfc.keio.ac.jp/sfc-sfs/img2/page_bottom.gif" width="820" height="15" /></td>
    </tr>
  </table>
  <table width="853" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
      <div id="footer">
        <div id="copyright">
    <font color="navy">
 | <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='copyright']/font/a[1]" style="">要望・お問い合わせ</button>
 | <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='copyright']/font/a[2]" style="">よくある質問</button> 
 | <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='copyright']/font/a[3]" style="">情報の取扱について（内部向け）</button> | 
</font>
  <br>
      <button data-toggle="modal" data-target="#createComment" data-chref="//*[@id='copyright']/p" style="">Copyright (C) 2008-2011, KEIO University Shonan Fujisawa Campus. All rights reserved.</button>
      </div>
      </div>
      </td>
    </tr>
  </table>