<!DOCTYPE html>
<html>
  <head>
    <title>SfcClassTag</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vu.sfc.keio.ac.jp/sfc-sfs/css/base.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
